a.js-colorlib-nav-toggle.colorlib-nav-toggle(href="#")
  i
aside#colorlib-aside.js-fullheight.img(role="complementary" style="background-image: url(images/sidebar-bg.jpg);")
  h1#colorlib-logo.mb-4
    a(href="index.html") Our Journey
  nav#colorlib-main-menu(role="navigation")
    ul
      li.colorlib-active
        a(href="index.html") Home
      li
        a(href="about.html") About
      li
        a(href="lifestyle.html") Lifestyle
      li
        a(href="posts/featured.html") Featured Writers
      li
        a(href="contact.html") Contact
  .colorlib-footer
    .mb-4
      h3 Subscribe for newsletter
      form.colorlib-subscribe-form(class="dv-add-oneto:contact:subscribe")
        .form-group.d-flex
          .icon
            button.btn.btn-primary-outline.icon-paper-plane.text-white(type="submit")
          input.form-control(type="email" name="email" placeholder="Enter Email Address" aria-label="Enter email..." aria-describedby="basic-addon")
    p.pfooter
      | ionize by 
      a(href="https://colorlib.com") colorlib
      |  Licensed under 
      a(rel="license" href="http://creativecommons.org/licenses/by/3.0/")
        | Creative Commons: By Attribution 3.0 License
      | .
// END COLORLIB-ASIDE