extends ../layouts/default-layout.pug
block content
    #colorlib-page
      #colorlib-main
        section.ftco-section.ftco-no-pt.ftco-no-pb
          .container.px-lg-0
            .row.d-flex.no-gutters
              .col-lg-8.px-md-5.py-5
                .row.px-3.px-md-0
                  h1.mb-3 Live Life With Purpose
                  blockquote
                    p
                      | “The mystery of human existence lies not in just staying alive, but in finding something to live for.” – Fyodor Dostoyevsky
                  p
                    | Life is a question. The greatest question everyone on the earth must answer.  This answer to Life’s question remains the most important you have to seek out for yourself.
                    | It is the question Why?
                  p
                    img.img-fluid(src="images/leave-a-legacy.png" alt="")
                  //
                    <blockquote>Legacy is not leaving something FOR PEOPLE. It's Leaving something IN PEOPLE
                    <br>
                    - Peter Strople
                    <br> <br>
                    <a class="twitter"  target="_blank"
                    href="http://twitter.com/share?text=Legacy is not leaving something FOR PEOPLE. It's Leaving something IN PEOPLE - Peter Strople&url=http://kingsleydavid.ga/posts/live-life-with-purpose.html/&hashtags=purpose,legacy,inheritance">
                    Click to share on Twitter.  <span class="icon-twitter"></span>
                    </a>
                    </blockquote>
                  .tm-click-to-tweet
                    .tm-ctt-text
                      a(href="http://twitter.com/share?text=Legacy is not leaving something FOR PEOPLE. It's Leaving something IN PEOPLE - Peter Strople&via=kdgyimah&related=kdgyimah&url=http://kingsleydavid.ga/posts/live-life-with-purpose.html/&hashtags=purpose,legacy,inheritance" target="_blank")
                        | Legacy is not leaving something FOR PEOPLE. It's Leaving something IN PEOPLE  - Peter Strople
                    p
                      a.tm-ctt-btn(href="http://twitter.com/share?text=Legacy is not leaving something FOR PEOPLE. It's Leaving something IN PEOPLE - Peter Strople&url=http://kingsleydavid.ga/posts/live-life-with-purpose.html/&hashtags=purpose,legacy,inheritance" target="_blank") Click To Tweet
                    .tm-ctt-tip
                  h2.mb-3.mt-5 Life's Greatest Question
                  h3
                    span.navy-text.text-center “Why are you on the earth?” 
                  p
                    | It is a question everyone is called to answer and no person on this earth is excluded from answering this question. The reason is that there is no person on the earth by accident. There has not been any individual in this world who came here by mistake. No person is on the earth for a trial and error kind of Life. 
                    span.navy-text
                      | There are no nonentities on this planet earth. Our MAKER has a purpose for every soul on the Earth – a divine assignment.
                  p
                    span.navy-text  No two (2) people are ever the same. 
                    br
                    | 		            	It is estimated, that 
                    a(href="http://www.worldometers.info/world-population/" target="_blank") there are over 7.5 billion people in the world
                    |  right now but among all these people, one thing is absolutely certain – No matter how similar people may be, there will still be differences in their physical or psychological makeup. For instance; 
                    a(href="http://www.wisegeek.com/can-two-people-have-the-same-fingerprints.htm" target="_blank") No two people can have the same fingerprints.
                    br
                    | 						No two people can have the same iris pattern (Eyeballs), so on and forth.
                    | 						Why is this so? The answer is just simple.
                    span.navy-text
                      | Everyone has been specifically made and designed to perform a specific assignment in Life.
                    | 						 And this is why everyone has a distinct uniqueness.
                  p
                    img.img-fluid(src="images/passion.jpeg" alt="")
                  a.text-center(href="https://agyemangkingsley.wordpress.com/2017/07/05/live-life-with-purpose/" target="_blank")
                    | Read More
                  blockquote
                    a(href="http://biblehub.com/nlt/isaiah/43.htm" target="_blank")  New Living Translation 
                    p
                      | Bring all who claim me as their God, for I have made them for my glory. It was I who created them.'” – Isaiah 43:17
                  a(href="http://biblehub.com/isaiah/43-7.htm" target="_blank") God created us for His GLORY – Isaiah 43:7.
                  p
                    | God is a God of Purpose and He will never bring anyone into this world for bringing sake.
                    | A lot of people are living a life of misery (full of self-pity and blame game) because they lack this truth.
                  p
                    | Why was I not born to 
                    a(href="https://www.biography.com/people/bill-gates-9307520" target="_blank") Bill Gates?
                    |  Why do I come from this continent and not the other one?
                    | 									And so much more, feeling that life has been unfair to them.
                  p
                    | One great quote I came across on this topic, was a quote by   
                    a(href="https://en.wikipedia.org/wiki/Myles_Munroe" target="_blank")  Dr. Myles Munroe 
                    |    which says;
                  p
                    blockquote
                      p
                        | “Where purpose is not known, abuse is ineveitable”
                      p
                        | “The greatest tragedy in life is not death, but a life without a purpose.”
                      | 										– Dr Myles Munroe
                  p
                    | This is perfectly true. I will abnormally use a thing if I don’t know the purpose of that thing.
                    | You can have something very powerful at your doorstep but until you’re enlightened on its usefulness,
                    | you will dis-value it and probably use it for other inappropriate things and for that matter the probability of destroying it is also very high
                  a.text-center(href="https://agyemangkingsley.wordpress.com/2017/07/05/live-life-with-purpose/" target="_blank")
                    | Continue Reading 
                    i.icon-external-link
                    // <span class="icon-external-link-alt"> </span>
                  .tag-widget.post-tag-container.mb-5.mt-5
                    .tagcloud
                      a.tag-cloud-link(href="#") Life
                      a.tag-cloud-link(href="#") Sport
                      a.tag-cloud-link(href="#") Tech
                      a.tag-cloud-link(href="#") Travel
                  .about-author.d-flex.p-4.bg-light
                    .bio.mr-5
                      img.img-fluid.mb-4(src="images/welcome_500x500.jpg" alt="Image placeholder")
                    .desc
                      h3 Kingsley David
                      p
                        | Kingsley is a freelance writer and web developer based in Accra, Ghana. When he's not busy working on a project, you'll find him sharing his thoughts here on his BLOG
                  .pt-5.mt-5
                    h3.mb-5.font-weight-bold 2 Comments
                    ul.comment-list
                      li.comment
                        .vcard.bio
                          img(src="images/avatar-icon.png" alt="Image placeholder")
                        .comment-body
                          h3 Adelaide 
                          .meta NOVEMBER 22, 2019 AT 6:12 AM
                          p
                            | Perfect, I have redirect my thinking about how am on this earth. I have a task to accomplish. Thank you.
                          p
                            a.reply(href="#") Reply
                      ul.children
                        li.comment
                          .vcard.bio
                            img(src="images/avatar-icon.png" alt="Image placeholder")
                          .comment-body
                            h3 Kingsley 
                            .meta NOVEMBER 25, 2019 AT 9:43 AM
                            p
                              | Wow, glad you found it helpful!
                            p  May we all receive that grace to accomplish our purpose. Amen 
                            p
                            p
                              a.reply(href="#") Reply
                    ul.comment-list(class="dv-get-all:posts:purpose_post")
                      li.comment
                        // <li class="comment">
                        .vcard.bio
                          img(src="images/avatar-icon.png" alt="Image placeholder")
                        .comment-body
                          h3.var-name ...
                          a.var-website(href="var-website" target="_blank")
                            span.var-website ...
                          .meta.var-time_submitted November 21, 2019 at 2:25pm
                          p.var-message We are working on the comments section!
                          p
                            a.reply(href="#") Reply
                    // END comment-list
                    .comment-form-wrap.pt-5
                      h3.mb-5 Leave a comment
                      .dv-notify-success(style="color: green") Comment added
                      .dv-notify-failed(style="color: red") Failed to add comment. Please Check your Internet Connection and Try Again
                      form.p-3.p-md-4.bg-light(class="dv-add-oneto:posts:purpose_post")
                        .form-group
                          label(for="name") Name *
                          input#name.form-control(type="text" name="name")
                        .form-group
                          label(for="email") Email *
                          input#email.form-control(type="email" name="email")
                        .form-group
                          label(for="website") Website
                          input#website.form-control(type="text" name="website" placeholder="Web address if you have one")
                        .form-group
                          label(for="message") Message
                          textarea#message.form-control(name="message" cols="30" rows="10")
                        // <span id="live"></span>
                        #span.text-right
                          | Current
                          input#date_submit.d-none.text-right(name="time_submitted")
                          #live_time.text-right
                        .form-group
                          // onclick="comment();"
                          input#commentButton.btn.py-3.px-4.btn-primary(type="submit" value="Post Comment")
                // END
              // <div class="row">
              .col-lg-4.px-3.sidebar.ftco-animate.bg-light.pt-5
                .sidebar-box.pt-md-4
                  form.search-form(action="#")
                    .form-group
                      span.icon.icon-search
                      input.form-control(type="text" placeholder="Search")
                .sidebar-box.ftco-animate
                  h3.sidebar-heading Categories
                  ul.categories
                    li
                      a(href="#")
                        | Fashion 
                        span (0)
                    li
                      a(href="#")
                        | Technology 
                        span (0)
                    li
                      a(href="#")
                        | Travel 
                        span (0)
                    li
                      a(href="#")
                        | Food 
                        span (0)
                    li
                      a(href="#")
                        | Photography 
                        span (0)
                .sidebar-box.ftco-animate
                  h3.sidebar-heading Popular Articles
                  .block-21.mb-4.d-flex
                    a.blog-img.mr-4(style="background-image: url(images/image_1.jpg);")
                    .text
                      h3.heading
                        a(href="#") Give time, some time  — The Power of patience. 
                      .meta
                        div
                          a(href="#")
                            span.icon-calendar
                            |  Nov. 12, 2019
                        div
                          a(href="#")
                            span.icon-person
                            |  Dave Agyemang
                        div
                          a(href="#")
                            span.icon-chat
                            |  19
                  .block-21.mb-4.d-flex
                    a.blog-img.mr-4(style="background-image: url(images/image_3.jpg);")
                    .text
                      h3.heading
                        a(href="#") Give time, some time  — The Power of patience. 
                      .meta
                        div
                          a(href="#")
                            span.icon-calendar
                            |  Nov. 12, 2019
                        div
                          a(href="#")
                            span.icon-person
                            |  Dave Agyemang
                        div
                          a(href="#")
                            span.icon-chat
                            |  19
                  .block-21.mb-4.d-flex
                    a.blog-img.mr-4(style="background-image: url(images/image_2.jpg);")
                    .text
                      h3.heading
                        a(href="#") Give time, some time  — The Power of patience. 
                      .meta
                        div
                          a(href="#")
                            span.icon-calendar
                            |  Nov. 12, 2019
                        div
                          a(href="#")
                            span.icon-person
                            |  Dave Agyemang
                        div
                          a(href="#")
                            span.icon-chat
                            |  19
                .sidebar-box.ftco-animate
                  h3.sidebar-heading Tag Cloud
                  ul.tagcloud
                    a.tag-cloud-link(href="#") christianity
                    a.tag-cloud-link(href="#") Beloved
                    a.tag-cloud-link(href="#") Heart
                    a.tag-cloud-link(href="#") Jovial
                    a.tag-cloud-link(href="#") Godliness
                    a.tag-cloud-link(href="#") Mentoring
                    a.tag-cloud-link(href="#") Web Development
                    a.tag-cloud-link(href="#") LOVE
                .sidebar-box.subs-wrap.img.px-4.py-5(style="background-image: url(images/bg_1.jpg);")
                  .overlay
                  h3.mb-4.sidebar-heading Newsletter
                  p.mb-4 I hope you enjoyed reading? Subscribe to our newsletter here :)
                  form.subscribe-form(class="dv-add-oneto:contact:subscribe")
                    .form-group
                      input.form-control(type="email" name="email" placeholder="Email Address")
                      input.mt-2.btn.btn-white.submit(type="submit" value="Subscribe")
                .sidebar-box.ftco-animate
                  h3.sidebar-heading Monthly
                  ul.categories
                    li
                      a(href="#")
                        | November 2019 
                        span (2)
                    li
                      a(href="#")
                        | December 2019 
                        span (0)
                    li
                      a(href="#")
                        | January 2020 
                        span (0)
                    li
                      a(href="#")
                        | February 2020 
                        span (0)
                    li
                      a(href="#")
                        | March 2020 
                        span (0)
                    li
                      a(href="#")
                        | April 2020 
                        span (0)
                .sidebar-box.ftco-animate
                  h3.sidebar-heading Reach Out
                  p
                    | I'm so glad that you took some time to join me on my BLOG. I'd love to hear from you and hope that we connect soon. Feel free to reach out to me 
                    a(href="tel:+233501431462") here. 
              // END COL
      // END COLORLIB-MAIN
    // END COLORLIB-PAGE